<ion-header class="ion-hide-lg-up">
  <ion-toolbar>
    <ion-title>جزییات سرویس</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-content " ion-padding>
  <h1 class="lg-title mb-30 mx-10">جزییات سرویس</h1>
  <!--===========================================================-->
  <ion-slides pager="true" [options]="slideOpts" class="DetailSlider shadow mx-10 mt-10">
    <ion-slide>
      <img src="assets/test/slider/1.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/test/slider/2.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/test/slider/3.jpg">
    </ion-slide>
  </ion-slides>
  <!--===========================================================-->
  <ion-card color="white" class="service-name my-0">
    <ion-card-content>
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="assets/test/icon/12.png">
        </ion-thumbnail>
        <ion-label>
          <h2 class="name">عنوان شغل</h2>
          <p class="desc" text-wrap>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
          </p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <!--===========================================================-->
  <ion-card color="white">
    <ion-card-content>
      <ion-text>
        <h2 class="desc-header mb-15">توضیحات</h2>
      </ion-text>
      <ion-text>
        <p class="desc-text">
          چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
          کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت
          فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان
          خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد
        </p>
      </ion-text>
    </ion-card-content>
  </ion-card>
  <!--===========================================================-->
  <ion-card color="white">
    <ion-card-content>
      <ion-text>
        <h2 class="desc-header mb-15">نیاز مندی ها</h2>
      </ion-text>
      <ion-text>
        <p class="desc-text">
          چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
          کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت
          فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان
          خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد
        </p>
      </ion-text>
    </ion-card-content>
  </ion-card>
  <!--===========================================================-->
  <ion-card color="white">
    <ion-card-content>
      <ion-text>
        <h2 class="desc-header mb-15">محدودیت ها</h2>
      </ion-text>
      <ion-text>
        <p class="desc-text">
          چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
          کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت
          فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان
          خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد
        </p>
      </ion-text>
    </ion-card-content>
  </ion-card>
  <!--===========================================================-->
  <div class="mx-8 mb-8">
    <ion-button  routerLink="/page/home/request-service/step-1"  expand="full" color="green" class="addService">درخواست این خدمت</ion-button>
  </div>
</ion-content>