<ion-header class="ion-hide-lg-up">
    <ion-toolbar>
        <ion-title>درخواست های من</ion-title>
    </ion-toolbar>
    <ion-segment scrollable #segment [(ngModel)]="segmentSelected">
        <ion-segment-button *ngFor="let item of segmentStatus" (click)="ionSelect(item.id)" layout="icon-start"
            href="#total" value="{{item.id}}">
            <ion-label>{{item.name}}</ion-label>
            <ion-icon name="{{item.icon}}"></ion-icon>
        </ion-segment-button>
    </ion-segment>
</ion-header>

<ion-content class="page-content" ion-padding scrollX="false">
    <h1 class="lg-title mb-30 mx-10">درخواست های من</h1>
    <!-- Scrollable Segment -->
    <ion-segment scrollable #segment2 class="ion-hide-md-down" [(ngModel)]="segmentSelected">
        <ion-segment-button *ngFor="let item of segmentStatus" layout="icon-start" href="#total"
            (click)="ionSelect(item.id)" value="{{item.id}}">
            <ion-label>{{item.name}}</ion-label>
            <ion-icon name="{{item.icon}}"></ion-icon>
        </ion-segment-button>
    </ion-segment>
    <!--====================================================-->
    <div class="tab-content">
        <ion-slides pager="false" [options]="SlideOrders" #slides (ionSlideWillChange)="ionSlideWillChange()">
            <ion-slide>
                <ion-grid>
                    <ion-row>
                        <ion-col size-lg="12">
                            <div class="tabs-item">
                                <div [chart]="chart"></div>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-slide>
            <ion-slide>
                <div class="stepEmpty" *ngIf="!tabLoading && type1.length === 0">
                    <img src="assets/img/step-empty.png">
                    متاسفانه هیچ موردی یافت نشد!
                </div>
                <ion-spinner *ngIf="tabLoading" class="ion-margin-top" name="lines"></ion-spinner>
                <div class="w-100" *ngIf="!tabLoading">
                    <ion-card *ngFor="let item of type1" color="white" class="step-item ion-activatable">
                        <ion-card-content class="order" (click)="pendingRequest(item)">
                            <ion-ripple-effect></ion-ripple-effect>
                            <ion-item lines="none" detail>
                                <ion-thumbnail slot="start">
                                    <img src="{{ item.servicePicAddress }}">
                                </ion-thumbnail>
                                <ion-label>
                                    <h2 class="name">{{ item.serviceTitle }}</h2>
                                    <div class="timeArea">
                                        <span class="time">{{ item.insrtTimeSimple }} ؛ </span>
                                        <span class="area">محدوده {{ item.areaTitle }}</span>
                                    </div>
                                    <div class="StatusPriority">
                                        <span class="Priority Priority-{{ item.priority }}">{{ item.priorityTitle }}</span>
                                        <span class="status status-{{ item.state }}">{{ item.stateTitle }}</span>
                                    </div>
                                </ion-label>
                            </ion-item>
                        </ion-card-content>
                    </ion-card>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="stepEmpty" *ngIf="!tabLoading && type2.length === 0">
                    <img src="assets/img/step-empty.png">
                    متاسفانه هیچ موردی یافت نشد!
                </div>
                <ion-spinner *ngIf="tabLoading" class="ion-margin-top" name="lines"></ion-spinner>
                <div class="w-100">
                    <ion-card *ngFor="let item of type2" color="white" class="step-item ion-activatable">
                        <ion-card-content class="order" (click)="selectedRequest(item)">
                            <ion-ripple-effect></ion-ripple-effect>
                            <ion-item lines="none" detail>
                                <ion-thumbnail slot="start">
                                    <img src="{{ item.servicePicAddress }}">
                                </ion-thumbnail>
                                <ion-label>
                                    <h2 class="name">{{ item.serviceTitle }}</h2>
                                    <div class="timeArea">
                                        <span class="time">{{ item.insrtTimeSimple }} ؛ </span>
                                        <span class="area">محدوده {{ item.areaTitle }}</span>
                                    </div>
                                    <div class="StatusPriority">
                                        <span class="Priority Priority-{{ item.priority }}">{{ item.priorityTitle }}</span>
                                        <span class="status status-{{ item.state }}">{{ item.stateTitle }}</span>
                                    </div>
                                </ion-label>
                            </ion-item>
                        </ion-card-content>
                    </ion-card>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="stepEmpty" *ngIf="!tabLoading && type3.length === 0">
                    <img src="assets/img/step-empty.png">
                    متاسفانه هیچ موردی یافت نشد!
                </div>
                <ion-spinner *ngIf="tabLoading" class="ion-margin-top" name="lines"></ion-spinner>
                <div class="w-100">
                    <ion-card *ngFor="let item of type3" color="white" class="step-item ion-activatable">
                        <ion-card-content class="order" (click)="acceptedRequest(item)">
                            <ion-ripple-effect></ion-ripple-effect>
                            <ion-item lines="none" detail>
                                <ion-thumbnail slot="start">
                                    <img src="{{ item.servicePicAddress }}">
                                </ion-thumbnail>
                                <ion-label>
                                    <h2 class="name">{{ item.serviceTitle }}</h2>
                                    <div class="timeArea">
                                        <span class="time">{{ item.insrtTimeSimple }} ؛ </span>
                                        <span class="area">محدوده {{ item.areaTitle }}</span>
                                    </div>
                                    <div class="StatusPriority">
                                        <span class="Priority Priority-{{ item.priority }}">{{ item.priorityTitle }}</span>
                                        <span class="status status-{{ item.state }}">{{ item.stateTitle }}</span>
                                    </div>
                                </ion-label>
                            </ion-item>
                        </ion-card-content>

                    </ion-card>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="stepEmpty" *ngIf="!tabLoading && type4.length === 0">
                    <img src="assets/img/step-empty.png">
                    متاسفانه هیچ موردی یافت نشد!
                </div>
                <ion-spinner *ngIf="tabLoading" class="ion-margin-top" name="lines"></ion-spinner>
                <div class="w-100">
                    <ion-card *ngFor="let item of type4" color="white" class="step-item ion-activatable">
                        <ion-card-content class="order" (click)="finishedRequest(item)">
                            <ion-ripple-effect></ion-ripple-effect>
                            <ion-item lines="none" detail>
                                <ion-thumbnail slot="start">
                                    <img src="{{ item.servicePicAddress }}">
                                </ion-thumbnail>
                                <ion-label>
                                    <h2 class="name">{{ item.serviceTitle }}</h2>
                                    <div class="timeArea">
                                        <span class="time">{{ item.insrtTimeSimple }} ؛ </span>
                                        <span class="area">محدوده {{ item.areaTitle }}</span>
                                    </div>
                                    <div class="StatusPriority">
                                        <span class="Priority Priority-{{ item.priority }}">{{ item.priorityTitle }}</span>
                                        <span class="status status-{{ item.state }}">{{ item.stateTitle }}</span>
                                    </div>
                                </ion-label>
                            </ion-item>
                        </ion-card-content>
                    </ion-card>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="stepEmpty" *ngIf="!tabLoading && type5.length === 0">
                    <img src="assets/img/step-empty.png">
                    متاسفانه هیچ موردی یافت نشد!
                </div>
                <ion-spinner *ngIf="tabLoading" class="ion-margin-top" name="lines"></ion-spinner>
                <div class="w-100" *ngIf="!tabLoading">
                    <ion-card *ngFor="let item of type5" color="white" class="step-item ion-activatable">
                        <ion-card-content class="order" (click)="canceledRequest(item)">
                            <ion-ripple-effect></ion-ripple-effect>
                            <ion-item lines="none" detail>
                                <ion-thumbnail slot="start">
                                    <img src="{{ item.servicePicAddress }}">
                                </ion-thumbnail>
                                <ion-label>
                                    <h2 class="name">{{ item.serviceTitle }}</h2>
                                    <div class="timeArea">
                                        <span class="time">{{ item.insrtTimeSimple }} ؛ </span>
                                        <span class="area">محدوده {{ item.areaTitle }}</span>
                                    </div>
                                    <div class="StatusPriority">
                                        <span class="Priority Priority-{{ item.priority }}">{{ item.priorityTitle }}</span>
                                        <span class="status status-{{ item.state }}">{{ item.stateTitle }}</span>
                                    </div>
                                </ion-label>
                            </ion-item>
                        </ion-card-content>
                    </ion-card>
                </div>
            </ion-slide>
        </ion-slides>
    </div>
    <!--====================================================-->
    <!--====================================================-->
    <!-- <div class="tab-content" id="waitingforExpert" *ngIf="segmentSelected=='waitingforExpert'">

    </div> -->
    <!--====================================================-->
    <!-- <div class="tab-content" id="waiting" *ngIf="segmentSelected=='waiting'">


    </div> -->
    <!--====================================================-->
    <!-- <div class="tab-content" id="actived" *ngIf="segmentSelected=='actived'">

    </div> -->
    <!--====================================================-->
    <!-- <div class="tab-content" id="finished" *ngIf="segmentSelected=='finished'">

    </div> -->
    <!--====================================================-->
    <!-- <div class="tab-content" id="canceled" *ngIf="segmentSelected=='canceled'">
 

    </div> -->

</ion-content>