<ion-header class="ion-hide-lg-up">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-button color="white" (click)="goBack()">
				<ion-icon slot="icon-only" name="arrow-back"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title>ویرایش درخواست</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content class="page-content " ion-padding>
	<ion-button class="ion-hide-md-down" nav-pop (click)="goBack()" color="medium" fill="clear"> بازگشت <ion-icon
			slot="start" name="arrow-back"></ion-icon>
	</ion-button>
	<h1 class="lg-title mb-30 mx-10">ویرایش درخواست</h1>
	<!--===========================================================-->
	<ion-card color="white">
		<ion-card-content>
			<ion-text>
				<h2 class="desc-header mb-15">محل اجرای درخواست</h2>
			</ion-text>
			<ion-item class="bg-white" lines="full">
				<ion-label>محدوده آدرس</ion-label>
				<ionic-selectable #area [items]="areas" itemValueField="areaId" itemTextField="areaTitle"
					searchPlaceholder="جستجو..." [searchFailText]="'محدوده یافت نشد.'" placeholder="انتخاب کنید"
					[canSearch]="true" (onChange)="areaChange($event)">
		
					<ng-template ionicSelectableHeaderTemplate>
						<ion-header>
							<ion-toolbar>
								<ion-buttons slot="start">
									<ion-button color="white" (click)="area.close()">
										<ion-icon slot="icon-only" name="close"></ion-icon>
									</ion-button>
								</ion-buttons>
								<ion-title>{{area.label}}</ion-title>
							</ion-toolbar>
						</ion-header>
					</ng-template>
					<ng-template ionicSelectableItemTemplate let-area="item">
						<div class="select-title">
							<ion-icon slot="icon-only" name="pin"></ion-icon>
							{{area.areaTitle}}
						</div>
					</ng-template>
				</ionic-selectable>
			</ion-item>
			<div class="map-block shadow">
				<form class="search"><label><input type="text" #query placeholder="جستجو آدرس"></label>
					<div class="icons">
						<!-- Loading Map -->
						<ion-spinner name="crescent" *ngIf="loadingAddress"></ion-spinner>
						<i class="ion ion-md-search" *ngIf="!loadingAddress"></i>
					</div>
				</form>
				<!-- Rezult search -->
				<div class="search-result" *ngIf="!loadingAddress && addresses.length !== 0">
					<ion-list class="bg-white" class="p-0">
						<ion-item color="white" lines="full" *ngFor="let item of addresses" detail (click)="selectAddress(item)">
							<ion-icon slot="start" name="pin"></ion-icon>
							<ion-label>
								<h5 class="name font-weight-500 mb-0">{{item?.name.split(",", 2)}}</h5>
								<small class="dsec color-grey-4">{{item?.name.split(",") | slice:2}}</small>
							</ion-label>
						</ion-item>
					</ion-list>
				</div>
				<div class="map" style="height: 300px;" (leafletMapReady)="onMapReady($event)" leaflet
					[leafletOptions]="options" [leafletZoom]="zoom" [leafletCenter]="center"></div>
				<ion-fab-button (click)="getLocation()" color="primary">
					<ion-icon [class.rotating]="!locationFound" name="locate"></ion-icon>
				</ion-fab-button>
			</div>
			<ion-item class="bg-white">
				<ion-label position="floating">آدرس دقیق محل درخواست</ion-label>
				<ion-textarea [(ngModel)]="address"></ion-textarea>
			</ion-item>
		</ion-card-content>
	</ion-card>
	<ion-card color="white">
		<ion-card-content>
			<ion-text>
				<h2 class="desc-header mb-15"> تاریخ و زمان </h2>
			</ion-text>
			<ion-item lines="full" class="bg-white">
				<ion-label position="stacked">تاریخ</ion-label>
				<ion-select placeholder="انتخاب کنید" [(ngModel)]="dateId" interface="action-sheet" okText="انتخاب کنید"
					cancelText="لغو">
					<ion-select-option *ngFor="let item of pickerOptions" value="{{ item.value }}">{{ item.text }}</ion-select-option>
				</ion-select>
			</ion-item>
			<ion-item lines="full" class="bg-white">
				<ion-label position="stacked">ساعت</ion-label>
				<ion-select placeholder="انتخاب کنید" [(ngModel)]="time" interface="action-sheet" okText="انتخاب کنید"
					cancelText="لغو">
					<ion-select-option value="1">ساعت 8 الی 12</ion-select-option>
					<ion-select-option value="2">ساعت 12 الی 16</ion-select-option>
					<ion-select-option value="3">ساعت 16 الی 20</ion-select-option>
					<ion-select-option value="4">ساعت 20 الی 24</ion-select-option>
				</ion-select>
			</ion-item>
		</ion-card-content>
	</ion-card>
	<!--===========================================================-->
	<ion-card color="white">
		<ion-card-content>
			<ion-text>
				<h2 class="desc-header mb-15">مشخصات دریافت کننده سرویس</h2>
			</ion-text>
			<ion-item class="bg-white" lines="full">
				<ion-label position="floating">نام و نام خانوادگی</ion-label>
				<ion-input [(ngModel)]="firstName"></ion-input>
			</ion-item>
			<ion-item class="bg-white" lines="full">
				<ion-label position="floating">تلفن همراه</ion-label>
				<ion-input [(ngModel)]="mobile"></ion-input>
			</ion-item>
			<ion-item class="bg-white" lines="full">
				<ion-label position="floating">تلفن ثابت</ion-label>
				<ion-input [(ngModel)]="phone"></ion-input>
			</ion-item>
		</ion-card-content>
	</ion-card>
	<!--===========================================================-->
	<ion-card color="white">
		<ion-card-content>
			<ion-text>
				<h2 class="desc-header mb-15"> توضیحات مربوط به این درخواست </h2>
			</ion-text>
			<ion-item class="bg-white">
				<ion-label position="floating">توضیحات</ion-label>
				<ion-textarea [(ngModel)]="desc" rows="4"></ion-textarea>
			</ion-item>
		</ion-card-content>
	</ion-card>
	<!--===========================================================-->
	<ion-grid class="mt-30 ion-hide-md-down" no-padding>
		<ion-row align-items-center justify-content-between no-padding>
			<ion-col size="12">
				<ion-button (click)="edit()" expand="block" color="green"
					class="btn-height-45 ion-hide-md-down"> ویرایش درخواست</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>
	<!--===========================================================-->
</ion-content>
<ion-footer class="bg-white ion-hide-lg-up">
	<ion-grid no-padding>
		<ion-row no-padding>
			<ion-col size="12">
				<ion-button (click)="edit()" expand="block" color="green"
					class="btn-height-45"> ویرایش درخواست</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-footer>