@import '~src/theme/_mixins.scss';
.service-name {
    ion-item {
        --background: transparent;
        --padding-start: 0;
    }
    .name {
        font-size: 16px;
        color: var(--ion-color-grey-2);
    }
    .desc {
        font-size: 12px;
        color: var(--ion-color-grey-4)
    }
}
ion-input,ion-item{
    --padding-start:0 !important;
}

.desc-header {
    color: var(--ion-color-yelllow-1);
    font-size: 18px;
}

.desc-text {
    color: var(--ion-color-grey-3);
    line-height: 30px;
}

.bg-white{
    --background: #fff;
    ion-item{
        border-top:var(--ion-color-grey-5);
        --background: #fff;
    }  
}

.map-block {
    border-top:1px solid var(--ion-color-grey-5);
    border-bottom:1px solid var(--ion-color-grey-5);
    position: relative;
    position: relative;
    &:after {
        content: "\f34a";
        display: inline-block;
        font-family: "Ionicons";
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-rendering: auto;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 70px;
        width: 70px;
        height: 70px;
        position: absolute;
        margin: auto;
        top: 0px;
        right: 0px;
        left: 0px;
        bottom: 0px;
        transform: translateY(-35px);
        color: var(--color-red);
        text-shadow: 3px 10px 8px #00000021;
        text-align: center;
        z-index: 10;
    }
    .map {
        z-index: 1;
       
    }
    .search {
        position: absolute;
        width: calc(100% - 20px);
        left: 10px;
        top: 10px;
        height: 40px;
        z-index: 2;
        label {
            display: block;
            width: 100%;
            height: 40px;
            input {
                border-radius: 2px; 
                border: none;
                display: block;
                width: 100%;
                height: 40px;
                box-sizing: border-box;
                padding-left: 40px;
                background-color: rgba(255, 255, 255, 0.6);
                border: 1px solid var(--ion-color-grey-5);
                transition: .3s ease all;
                padding-right: 10px;
                &:focus {
                    border: 1px solid var(--ion-color-grey-2);
                    background-color: rgba(255, 255, 255, 1);
                }
            }
        }
        .icons {
            overflow: hidden;
            position: absolute;
            top: 0px;
            left: 0px;
            width: 40px;
            height: 40px;
            text-align: center;
            color: var(--ion-color-grey-2);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            mat-spinner {
                width: 40px !important;
                height: 40px !important;
            }
            .ion{
                font-size: 24px;
            }
        }
    }
    ion-fab-button  {
        z-index: 3;
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
    ion-spinner {
        // width: 25px !important;
        // height: 25px !important;
       
    }
    .search-result {
        position: absolute;
        top: 50px;
        width: calc(100% - 20px);
        box-shadow: 0 2px 10px 0 rgba(34, 34, 34, 0.3);
        left: 10px;
        right: 10px;
        z-index: 20;
        max-height: 160px;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: #424242;
        ion-item{
            ion-icon{
                -webkit-margin-end: 16px;
                margin-inline-end: 16px;
            }
        }
        &::-webkit-scrollbar {
            width: 4px;
        }
        /* Track */
        &::-webkit-scrollbar-track {
            background: var(--ion-color-grey-5);
        }
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: var(--ion-color-grey-2);
        }
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: var(--color-red);
        }
        .mat-list-base {
            padding-top: 4px;
        }
        .mat-list-item-content {
            padding: 0 8px !important;
        }
        .mat-list-text {
            padding-right: 8px !important;
        }
        .name {
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            transform: translateY(4px);
        }
        .desc {
            font-size: 10px;
            opacity: .6;
            
        }
        ion-label{
            margin-top: 5px;
            margin-bottom: 4px;
        }
    }
}

@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 1s linear infinite;
    -moz-animation: rotating 1s linear infinite;
    -ms-animation: rotating 1s linear infinite;
    -o-animation: rotating 1s linear infinite;
    animation: rotating 1s linear infinite;
    color: #6dd0ff;
}