<ion-header class="ion-hide-lg-up">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>مرحله دوم - محدوده ی سفارش</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="page-content" ion-padding>
	<h1 class="lg-title mb-30 mx-10">مرحله دوم - محدوده ی سفارش </h1>
	<!--===========================================================-->
	<ion-text>
		<h5 class="px-10 color-grey-3">محدوده درخواست خود را بر روی نقشه مشخص کنید</h5>
	</ion-text>
	<ion-list class="bg-white p-0 m-0">
		<ion-item class="bg-white">
			<ion-label>انتخاب محله</ion-label>
			<ion-select value="brown" okText="انتخاب" cancelText="لغو">
				<ion-select-option value="brown">محله</ion-select-option>
				<ion-select-option value="blonde">محله</ion-select-option>
				<ion-select-option value="black">محله</ion-select-option>
				<ion-select-option value="red">محله</ion-select-option>
			</ion-select>
		</ion-item>
	</ion-list>
	<div class="map-block shadow">
		<form class="search"><label><input type="text" #name placeholder="جستجو آدرس"></label>
			<div class="icons">
				<!-- Loading Map -->
				<ion-spinner name="crescent" class="none"></ion-spinner>
				<i class="ion ion-md-search"></i>
			</div>
		</form>
		<!-- Rezult search -->
		<div class="search-result none">
			<ion-list class="bg-white" class="p-0">
				<ion-item color="white" lines="full">
					<ion-icon slot="start" name="pin"></ion-icon>
					<ion-label>
						<h5 class="name font-weight-500 mb-0">عنوان آدرس</h5>
						<small class="dsec color-grey-4">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
							استفاده از طراحان گرافیک است</small>
					</ion-label>
				</ion-item>
				<ion-item color="white" lines="full">
					<ion-icon slot="start" name="pin"></ion-icon>
					<ion-label>
						<h5 class="name font-weight-500 mb-0">عنوان آدرس</h5>
						<small class="dsec color-grey-4">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
							استفاده از طراحان گرافیک است</small>
					</ion-label>
				</ion-item>
				<ion-item color="white" lines="full">
					<ion-icon slot="start" name="pin"></ion-icon>
					<ion-label>
						<h5 class="name font-weight-500 mb-0">عنوان آدرس</h5>
						<small class="dsec color-grey-4">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
							استفاده از طراحان گرافیک است</small>
					</ion-label>
				</ion-item>
				<ion-item color="white" lines="full">
					<ion-icon slot="start" name="pin"></ion-icon>
					<ion-label>
						<h5 class="name font-weight-500 mb-0">عنوان آدرس</h5>
						<small class="dsec color-grey-4">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
							استفاده از طراحان گرافیک است</small>
					</ion-label>
				</ion-item>
			</ion-list>
		</div>
		<div class="map" style="height: 300px;" leaflet [leafletOptions]="options" [leafletZoom]="zoom"
			[leafletCenter]="center"></div>
		<ion-fab-button color="primary">
			<ion-icon name="locate"></ion-icon>
		</ion-fab-button>
	</div>
	<ion-item>
		<ion-label position="floating">توضیحات مربوط به آدرس</ion-label>
		<ion-textarea></ion-textarea>
	</ion-item>


	<ion-grid class="mt-30" no-padding>
		<ion-row align-items-center justify-content-between no-padding>
			<ion-col size="4">
				<ion-button routerLink="/page/home/request-service/step-1" expand="block" color="grey-3"
					class="btn-height-45 ion-hide-md-down"> بازگشت </ion-button>
			</ion-col>
			<ion-col size="6">
				<ion-button routerLink="/page/home/request-service/step-3" expand="block" color="green"
					class="btn-height-45 ion-hide-md-down mr-10"> ثبت و ادامه</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>
	<!--===========================================================-->
</ion-content>
<ion-footer class="bg-white ion-hide-lg-up">
	<div class="p-8">
		<ion-button routerLink="/page/home/request-service/step-3" expand="full" color="green" class="btn-height-45">ثبت
			و
			ادامه </ion-button>
	</div>
</ion-footer>