<ion-header class="ion-hide-lg-up">
        <ion-toolbar>
            <ion-title>بیشتر</ion-title>
        </ion-toolbar>
    </ion-header>
    
    <ion-content class="page-content" ion-padding>
        <h1 class="lg-title mb-30 mx-10">بیشتر</h1>
        <ion-list class="bg-white m-0 p-0" lines="full">
            <ion-item href="tel:09032226910" lines="full" class="bg-white" detail>
                <ion-label>تماس با پشتیبان</ion-label>
            </ion-item>
            <ion-item href="https://shiraz-service.ir/faq/" target="_blank" lines="full" class="bg-white" detail>
                <ion-label>پرسش های متداول</ion-label>
            </ion-item>
            <ion-item href="https://shiraz-service.ir/terms/" target="_blank" lines="full" class="bg-white" detail>
                <ion-label>قوانین و مقررات</ion-label>
            </ion-item>
            <ion-item href="https://shiraz-service.ir/aboutus/" target="_blank" lines="full" class="bg-white" detail>
                <ion-label>درباره ما</ion-label>
            </ion-item>
            <ion-item lines="full" class="bg-white" detail>
                <ion-label>به دوستان خود بگویید</ion-label>
            </ion-item>
            <ion-item routerLink="/page/more/social-network" lines="full" class="bg-white" detail>
                <ion-label>شبکه های اجتماعی</ion-label>
            </ion-item>
        </ion-list>
        <div class="copyRight">
            <img src="assets/img/ShirazService-Logo@2x.png">
            <p>تمام حقوق مادی و معنوی برای شیراز سرویس محفوظ است </p>
            <p>طراحی PWA توسط  <a target="_blank" href="https://atriatech.ir/">آتریاتک</a> </p>
        </div>

    </ion-content>