<ion-header class="ion-hide-lg-up">
        <ion-toolbar>
            <ion-title>پروفایل من</ion-title>
        </ion-toolbar>
    </ion-header>
    
    <ion-content class="page-content" ion-padding>
        <h1 class="lg-title mb-30 mx-10">پروفایل من</h1>
        <ion-list class="bg-white m-0" lines="full">
            <ion-item lines="full" class="myinfo">
                <ion-thumbnail slot="start">
                    <img src="assets/icon/favicon.png">
                </ion-thumbnail>
                <ion-label>
                    <h2 class="name">{{ this.global.getPersonInfo().firstName }} {{ this.global.getPersonInfo().lastName }}</h2>
                    <p class="desc" text-wrap>{{ this.global.getPersonInfo().username }}</p>
                </ion-label>
            </ion-item>
            <ion-item lines="full" button="true" routerLink="/page/profile/edit-information" detail>
                <ion-icon name="create" slot="start"></ion-icon>
                <ion-label>ویرایش اطلاعات کاربری</ion-label>
            </ion-item>
            <ion-item lines="full" button="true" routerLink="/page/profile/expert-introduction" detail>
                <ion-icon name="build" slot="start"></ion-icon>
                <ion-label>معرفی متخصص</ion-label>
            </ion-item>
            <ion-item lines="full" button="true" routerLink="/page/profile/support" detail>
                <ion-icon name="chatbubbles" slot="start"></ion-icon>
                <ion-label>ارسال نظرات</ion-label>
            </ion-item>
            <ion-item lines="full" button="true" routerLink="/page/profile/my-score" detail>
                <ion-icon name="star" slot="start"></ion-icon>
                <ion-label>امتیازات من</ion-label>
            </ion-item>
            <ion-item lines="full" button="true" routerLink="/page/profile/my-Comments" detail>
                <ion-icon name="pricetag" slot="start"></ion-icon>
                <ion-label>نظرات من</ion-label>
            </ion-item>
            <ion-item lines="none" button="true" (click)="logout()"  detail>
                <ion-icon name="exit" slot="start"></ion-icon>
                <ion-label>خروج از حساب کاربری</ion-label>
            </ion-item>
        </ion-list>
    </ion-content>