<ion-header class="ion-hide-lg-up">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> پایان درخواست</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="page-content " ion-padding>
    <ion-button class="ion-hide-md-down" nav-pop routerLink=".." color="medium" fill="clear"> بازگشت <ion-icon
      slot="start" name="arrow-back"></ion-icon>
</ion-button>
  <h1 class="lg-title mb-30 mx-10"> پایان درخواست</h1>
  <!--===========================================================-->
  <!--===========================================================-->
  <ion-card color="white" class="mt-10">
    <ion-card-content>
      <ion-text color='blue'><strong> اعلام پایان درخواست </strong></ion-text>
    </ion-card-content>
  </ion-card>
  <!--===========================================================-->
  <ion-card color="white" class="service-name my-0 ion-activatable">
    <ion-card-content>
      <ion-item class="bg-white" lines="none">
        <ion-thumbnail slot="start">
          <img src="assets/test/icon/5.png">
        </ion-thumbnail>
        <ion-label>
          <h2>عنوان شغل</h2>
          <ul class="category-lists">
            <li>دسته بندی سطح 1</li>
            <li>دسته بندی سطح 2</li>
          </ul>
        </ion-label>
      </ion-item>
      <p><strong>مشکل : </strong>رفع مشکل لب تاب </p>
      <p>
        <ion-icon name="person"></ion-icon> امین تکمیلی فرد
      </p>
      <p>
        <ion-icon name="pin"></ion-icon> شیراز خیابان لطفعلی خان زند خیابان شهید حجری
      </p>
      <p>
        <ion-icon name="time"></ion-icon> شنبه ۶ خرداد ۱۳۹۷ ساعت 16 تا 20
      </p>
    </ion-card-content>
  </ion-card>
  <!--===========================================================-->
  <!--===========================================================-->
  <ion-card color="white">
    <ion-card-content class="text-center">
      <div class="servicer">
        <img class="user-image" src="assets/test/men/1.jpg">
        <h4>رضا طیبی</h4>
        <div class="rate mt-5" rate="4"><i></i><i></i><i></i><i></i><i></i></div>
        <p>
          <ion-text color="blue">10 نظر , برای مشاهده کلیک کنید </ion-text>
        </p>
        <div class="callandsms">
          <a class="call" href="tel:0917308875">
            <i class="ion ion-md-call"></i>
            <span>تماس با رضا</span>
          </a>
          <a class="sms" href="tel:0917308875">
            <i class="ion ion-md-chatbubbles"></i>
            <span>پیامک با رضا</span>
          </a>

        </div>
      </div>
    </ion-card-content>
  </ion-card>
  <!--===========================================================-->
  <ion-card color="white">
    <ion-card-content>
      <ion-text>
        <h2 class="desc-header mb-15">پیشنه سعید</h2>
      </ion-text>
      <p class="line-height-30">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
        گرافیک
        است.</p>

    </ion-card-content>
  </ion-card>
  <!--===========================================================-->
  <ion-card color="white">
    <ion-card-content>
      <div class="portfolio">
        <div class="item-1">
          <p>150</p>
          <span>روز سابقه عضویت</span>
        </div>
        <div class="item-2">
          <p>17</p>
          <span>سرویس انجام شده</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
  <!--===========================================================-->
  <ion-card color="white">
    <ion-card-content>
      <ion-text>
        <h2 class="desc-header mb-15">سوابق کاری و توضیحات</h2>
      </ion-text>
      <p class="line-height-30">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
        گرافیک
        است.</p>
    </ion-card-content>
  </ion-card>
  <!--===========================================================-->
  <ion-card color="white">
    <ion-card-content>
      <ion-text>
        <h2 class="desc-header mb-15">مدارک و توانایی ها</h2>
      </ion-text>
      <p class="line-height-30">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
        گرافیک
        است.</p>
    </ion-card-content>
  </ion-card>

  <!--===========================================================-->
  <ion-grid class="mt-30 ion-hide-md-down" no-padding>
    <ion-row align-items-center justify-content-between no-padding>
      <ion-col size="3">
        <ion-button routerLink="/page/myrequest" expand="block" color="grey-3" class="btn-height-45 ion-hide-md-down">
          ازگشت </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block" color="danger" class="btn-height-45 ion-hide-md-down"> لغو میکنم
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" color="green" class="btn-height-45 ion-hide-md-down"> سپاس تمام شد 
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--===========================================================-->
</ion-content>
<ion-footer class="bg-white ion-hide-lg-up">
  <ion-grid no-padding>
    <ion-row no-padding>
      <ion-col size="5">
        <ion-button expand="block" color="danger" class="btn-height-45"> لغو میکنم </ion-button>
      </ion-col>
      <ion-col size="7">
        <ion-button expand="block" color="green" class="btn-height-45"> سپاس تمام شد </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>