<ion-header class="ion-hide-lg-up">
	<ion-toolbar>
		<ion-searchbar #query placeholder="جستجوی خدمات" color="white"></ion-searchbar>
	</ion-toolbar>
</ion-header>

<ion-content class="page-content" id="SearchPage" ion-padding>
	<h1 class="lg-title mb-30 mx-10">جستجو</h1>
	<!--===========================================================-->
	<ion-searchbar #query2 class="ion-hide-md-down" placeholder="جستجوی خدمات" color="white"></ion-searchbar>
	<!--===========================================================-->
	<div class="result-search">
		<ion-card *ngFor="let item of services" color="white" class="ion-activatable" (click)="goToService(item)">
			<ion-card-content class="ion-no-padding ion-padding-vertical">
				<ion-ripple-effect></ion-ripple-effect>
				<ion-item lines="none" detail>
					<ion-thumbnail slot="start">
						<img src="{{ item.picAddress }}">
					</ion-thumbnail>
					<ion-label>
						<h2>{{ item.serviceTitle }}</h2>
						<ul class="category-lists">
							<li>{{ item.catTitle }}</li>
							<li>{{ item.subCatTitle }}</li>
						</ul>
					</ion-label>
				</ion-item>
			</ion-card-content>

		</ion-card>
	</div>
	<!--===========================================================-->
</ion-content>