// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

@import './mixins';
@import './custom';
:root {
    /** primary **/
    --ion-color-primary: #3880ff;
    --ion-color-primary-rgb: 56, 128, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3171e0;
    --ion-color-primary-tint: #4c8dff;
    /** secondary **/
    --ion-color-secondary: #0cd1e8;
    --ion-color-secondary-rgb: 12, 209, 232;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #0bb8cc;
    --ion-color-secondary-tint: #24d6ea;
    /** tertiary **/
    --ion-color-tertiary: #7044ff;
    --ion-color-tertiary-rgb: 112, 68, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #633ce0;
    --ion-color-tertiary-tint: #7e57ff;
    /** success **/
    --ion-color-success: #10dc60;
    --ion-color-success-rgb: 16, 220, 96;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #0ec254;
    --ion-color-success-tint: #28e070;
    /** warning **/
    --ion-color-warning: #ffce00;
    --ion-color-warning-rgb: 255, 206, 0;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255, 255, 255;
    --ion-color-warning-shade: #e0b500;
    --ion-color-warning-tint: #ffd31a;
    /** danger **/
    --ion-color-danger: #f04141;
    --ion-color-danger-rgb: 245, 61, 61;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #d33939;
    --ion-color-danger-tint: #f25454;
    /** dark **/
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 34, 34;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;
    /** medium **/
    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;
    /** light **/
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 244, 244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
    --ion-font-family: iransans;
    --ion-background-color: #F4F4F4;
    --color-grey: #373737;
    --color-red: #EA4235;
    --color-green: #28B227;
    --color-blue: #4286F5;
    /*myvar*/
    --ion-color-green-1: #206D15;
    --ion-color-green-2: #43A047;
    --ion-color-green-3: #4CAF50;
    --ion-color-green-4: #689F38;
    --ion-color-green-5: #8BC34A;
    --ion-color-green-6: #C5E1A5;
    --ion-color-green-7: #E3F6CD;
    --ion-color-grey-1: #111111;
    --ion-color-grey-2: #3E3E3E;
    --ion-color-grey-3: #616161;
    --ion-color-grey-4: #9E9E9E;
    --ion-color-grey-5: #E3E3E3;
    --ion-color-grey-6: #F6F6F6;
    --ion-color-grey-7: #F9F9F9;
    --ion-color-white: #ffffff;
    --ion-color-red-1: #BF360C;
    --ion-color-red-2: #D34328;
    --ion-color-red-3: #E64A19;
    --ion-color-red-4: #FFAB91;
    --ion-color-blue-1: #2196F3;
    --ion-color-blue-2: #90CAF9;
    --ion-color-yelllow-1: #FFB300;
    --ion-color-yelllow-2: #FFE082;
}

ion-menu {
    --max-width: 300px;
    --min-width: 270px;
}

ion-header {
    ion-toolbar {
        --background: var(--color-grey);
        --color: var(--ion-background-color);
    }
}

ion-router-outlet {
    ion-content {
        .lg-title {
            display: none
        }
        @include breakpoint(lg-up) {
            --padding-top: 50px;
            --padding-bottom: 50px;
            --padding-end: calc(50% - 350px);
            --padding-start: calc(50% - 350px);
            .lg-title {
                display: block;
                font-size: 28px;
                font-weight: 500;
            }
        }
    }
}

body {
    line-height: 2;
}