@import '~src/theme/_mixins.scss';

ion-card {
    height: 170px;
    ion-card-header {
        background: #dcdcdc;
        ion-card-title {
            font-size: 14px;
            text-align: center;
        }
    }

    ion-card-content {
        .score {
            text-align: center;
            font-size: 30px;
            color: var(--ion-color-danger);
        }
    
        .date {
            text-align: left;
            margin-top: 27px;
            font-size: 12px;
        }
    }

}