<ion-header class="ion-hide-lg-up">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>شبکه های اجتماعی</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content class="page-content ">
		<ion-button class="ion-hide-md-down" nav-pop routerLink=".." color="medium" fill="clear"> بازگشت <ion-icon
            slot="start" name="arrow-back"></ion-icon>
    </ion-button>
	<h1 class="lg-title mb-30 mx-10">شبکه های اجتماعی</h1>
	<!--===========================================================-->
	<ion-list class="store-info">
		<ion-list-header>
			<ion-label>ما را در شبکه های اجتماعی دنبال کنید</ion-label>
		</ion-list-header>
		<ion-item button="true">
			<ion-avatar slot="start">
				<img src="assets/img/aparat.png">
			</ion-avatar>
			<ion-label>
				<h3>@Shiraz_service</h3>
				<p><small>نام شبکه اجتماعی</small></p>
			</ion-label>
		</ion-item>
		<ion-item button="true">
			<ion-avatar slot="start">
				<img src="assets/img/facebook.png">
			</ion-avatar>
			<ion-label>
				<h3>@Shiraz_service</h3>
				<p><small>نام شبکه اجتماعی</small></p>
			</ion-label>
		</ion-item>
		<ion-item button="true">
			<ion-avatar slot="start">
				<img src="assets/img/youtube.png">
			</ion-avatar>
			<ion-label>
				<h3>@Shiraz_service</h3>
				<p><small>نام شبکه اجتماعی</small></p>
			</ion-label>
		</ion-item>
		<ion-item button="true">
			<ion-avatar slot="start">
				<img src="assets/img/twitter.png">
			</ion-avatar>
			<ion-label>
				<h3>@Shiraz_service</h3>
				<p><small>نام شبکه اجتماعی</small></p>
			</ion-label>
		</ion-item>
		<ion-item button="true">
			<ion-avatar slot="start">
				<img src="assets/img/telegram.png">
			</ion-avatar>
			<ion-label>
				<h3>@Shiraz_service</h3>
				<p><small>نام شبکه اجتماعی</small></p>
			</ion-label>
		</ion-item>
		<ion-item button="true">
			<ion-avatar slot="start">
				<img src="assets/img/soroush.png">
			</ion-avatar>
			<ion-label>
				<h3>@Shiraz_service</h3>
				<p><small>نام شبکه اجتماعی</small></p>
			</ion-label>
		</ion-item>
		<ion-item button="true" lines="none">
			<ion-avatar slot="start">
				<img src="assets/img/bale.png">
			</ion-avatar>
			<ion-label>
				<h3>@Shiraz_service</h3>
				<p><small>نام شبکه اجتماعی</small></p>
			</ion-label>
		</ion-item>
	</ion-list>
	<!--===========================================================-->
</ion-content>