<ion-header class="ion-hide-lg-up">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="white" (click)="goBack()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>نظرات من </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="page-content " ion-padding>
    <ion-button class="ion-hide-md-down" nav-pop (click)="goBack()" color="medium" fill="clear"> بازگشت <ion-icon
            slot="start" name="arrow-back"></ion-icon>
    </ion-button>
    <h1 class="lg-title mb-30 mx-10">نظرات من</h1>
    <!--===========================================================-->
    <ion-list class="bg-white mb-75 mt-0 py-0 px-0">
        <ion-item *ngFor="let item of comments" button="true" detail>
            <ion-label>
                <h3>متخصص: {{ item.workmanName }}</h3>
                <p>سرویس: {{ item.serviceTitle }}</p>
                <p> {{ item.comment }}</p>
                <p><small>{{ item.insrtTimePersian }}</small></p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>