<ion-header class="ion-hide-lg-up">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>مرحله سوم - انتخاب بازی زمانی</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-content" ion-padding>
  <h1 class="lg-title mb-30 mx-10">مرحله سوم - انتخاب بازی زمانی</h1>
  <!--===========================================================-->
  <!--===========================================================-->
  <ion-text>
    <h6 class="px-10 color-grey-3">بازه زمانی درخواست خدمات خود را انتخاب کنید </h6>
  </ion-text>
  <ion-list class="bg-white p-0 m-0">
    <ion-item class="bg-white">
      <ion-label>تاریخ شروع</ion-label>
      <ion-datetime placeholder="انتخاب ساعت" display-format="MMM DD, YYYY" cancelText="لغو" doneText="انتخاب">
      </ion-datetime>
    </ion-item>
  </ion-list>
  <!--===========================================================-->
  <!--===========================================================-->
  <ion-text>
    <h6 class="px-10 color-grey-3">بازه زمانی درخواست خدمات خود را انتخاب کنید </h6>
  </ion-text>
  <ion-list class="bg-white p-0 m-0">
    <ion-item class="bg-white">
      <ion-label>تاریخ پایان</ion-label>
      <ion-datetime placeholder="انتخاب ساعت" display-format="MMM DD, YYYY" cancelText="لغو" doneText="انتخاب">
      </ion-datetime>
    </ion-item>
  </ion-list>
  <!--===========================================================-->
  <ion-text>
    <h5 class="px-10 color-grey-3">انتخاب بازه زمانی</h5>
  </ion-text>
  <ion-list>
    <ion-radio-group class="bg-white">
      <ion-item>
        <ion-label>ساعت 8 صبح الی 12 ظهر</ion-label>
        <ion-radio slot="start" value="1" color="green" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>ساعت 12 ظهر الی 16 بعد از ظهر</ion-label>
          <ion-radio slot="start" value="2" color="green"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>ساعت 16 بعد از ظهر الی 20 شب</ion-label>
          <ion-radio slot="start" value="3" color="green"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>ساعت 20 الی 24 شب</ion-label>
          <ion-radio slot="start" value="4" color="green"></ion-radio>
        </ion-item>
    </ion-radio-group>
  </ion-list>
  <!--===========================================================-->

  <ion-grid class="mt-30" no-padding>
    <ion-row align-items-center justify-content-between no-padding>
      <ion-col size="4"> <ion-button routerLink="/page/home/request-service/step-2" expand="block" color="grey-3" class="btn-height-45 ion-hide-md-down"> بازگشت </ion-button></ion-col>
      <ion-col size="6"> <ion-button routerLink="/page/home/request-service/step-4" expand="block" color="green" class="btn-height-45 ion-hide-md-down mr-10"> ثبت و ادامه</ion-button></ion-col>
    </ion-row>
  </ion-grid>

  <!--===========================================================-->
</ion-content>
<ion-footer class="bg-white ion-hide-lg-up">
  <div class="p-8">
    <ion-button routerLink="/page/home/request-service/step-4" expand="full" color="green" class="btn-height-45">ثبت
      و
      ادامه </ion-button>
  </div>
</ion-footer>