// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import '~leaflet/dist/leaflet.css';
@import '~@ngx-share/button/themes/default/default-theme';

.leaflet-top .leaflet-control {
    margin-top: 0;
    margin-bottom: 10px;
}
.leaflet-top {
    top: initial;
    bottom: 0px;
}
.select-icon {
    width: 19px;
    height: 19px;
    top: 7px;
}