<ion-header class="ion-hide-lg-up">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>مرحله اول - درجه اهمیت</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-content" ion-padding>
  <h1 class="lg-title mb-30 mx-10">مرحله اول - درجه اهمیت</h1>
  <!--===========================================================-->
  <ion-text>
    <h5 class="px-10 color-grey-3">درجه اهمیت درخواست خود را انتخاب کنید</h5>
  </ion-text>
  <ion-list>
    <ion-radio-group>

      <ion-item>
        <ion-label>پایین</ion-label>
        <ion-radio slot="start" value="1" color="green" checked></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>متوسط</ion-label>
        <ion-radio slot="start" value="2" color="green"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>بالا</ion-label>
        <ion-radio slot="start" value="3" color="green"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>فوری</ion-label>
        <ion-radio slot="start" value="4" color="green"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <div class="mx-8 mb-8 mt-30">
      <ion-button routerLink="/page/home/request-service/step-2"  color="green" class="btn-height-45 ion-hide-md-down">ثبت و ادامه</ion-button>
    </div>
  <!--===========================================================-->
</ion-content>
<ion-footer class="bg-white ion-hide-lg-up">
  <div class="p-8">
    <ion-button routerLink="/page/home/request-service/step-2" expand="full" color="green" class="btn-height-45">ثبت و ادامه </ion-button>
  </div>
</ion-footer>